// Check mark
$data-check-svg: forge-asset-url('images/check.svg');

// Disc
$data-disc-svg: forge-asset-url('images/disc.svg');

// Loading Spinner
$data-spinner-svg: forge-asset-url('images/spinner.svg');

// Search Icon
$data-search-svg: forge-asset-url('images/search.svg');
$data-search-white-svg: forge-asset-url('images/search-white.svg');
$data-search-black-svg: forge-asset-url('images/search-black.svg');


